<br />
<div class="container marketing" style="text-align: center; color: white">
  <div
    class="container-fluid col-md-12"
    style="
      text-align: center;
      width: fit-content;
      background-color: #25222a;
      marker-mid: initial;
    "
  >
    <div class="col-md-12" style="height: 280px">
      <div
        class="card p-3 my-2"
        style="
          width: 53rem;
          height: 10rem;
          padding: 15px;
          margin: 15px;
          text-align: center;
          background-color: #25222a;
          border: currentColor;
          border-radius: 1rem;
          background-image: var(--bs-gradient);
        "
      >
      <br>
      <h1><i style="color: #d9b54a;">ENSTRURENT !</i> <br><br></h1>
        <h3
        >
        
          <i>Türkiye'nin ilk enstrüman kiralama platformu çok yakında sizlerle!</i> 
        </h3>
      </div>
    </div>
    
    <!-- Three columns of text below the carousel -->
    <div class="row" style="text-align: center; padding: 15px; margin: 15px">
      <div class="col-lg-4">
        <img
          class="bd-placeholder-img rounded-circle"
          width="180"
          height="180"
          src="assets/shop.jpg"
          role="img"
        />
        <br /><br />
        <i class="bi bi-shop-window"></i
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-shop-window"
          viewBox="0 0 16 16"
          style="color: #d9b54a"
        >
          <path
            d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"
          />
        </svg>
        <br /><br />
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif">
          Müzik Marketim...
        </p>
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif">
          "ENSTRURENT" bir müzik enstrümanı kiralama ve kiralatma sitesidir.
          Yani eğer bir işletmeyseniz, bize başvuruda bulunup yakında açılacak
          olan platformumuza katılabilir ve enstrümanlarınızı hem kiraya hem de
          satışa sunabilirsiniz!
        </p>
        <p><a class="btn btn-secondary" href="renter-register" style="background-color: #d9b54a;">KAYDOL! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="bd-placeholder-img rounded-circle"
          width="180"
          height="180"
          src="assets/rent1.jpg"
          role="img"
        />

        <br /><br />
        <i class="bi bi-bag-plus"></i
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-bag-plus"
          viewBox="0 0 16 16"
          style="color: #d9b54a"
        >
          <path
            fill-rule="evenodd"
            d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
          />
          <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
          />
        </svg>
        <br /><br />
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif">
          Yeni Başlayacağım...
        </p>

        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif">
          Bir müzik enstrümanı çalmaya başlamak istiyorum ama satın almak çok
          riskli geliyor. Ya çalamazsam, ya sevmezsem?" diyenlerdenseniz,
          kiralayıp denemek tam da size göre!
        </p>
        <p><a class="btn btn-secondary" href="client-register" style="background-color: #d9b54a;">KAYDOL VE GÖZAT! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="bd-placeholder-img rounded-circle"
          width="180"
          height="180"
          src="assets/rent.jpg"
          role="img"
        />

        <br /><br />
        <i class="bi bi-bag-plus"></i
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-bag-plus"
          viewBox="0 0 16 16"
          style="color: #d9b54a"
        >
          <path
            fill-rule="evenodd"
            d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
          />
          <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
          />
        </svg>
        <br /><br />
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif">
            Müzisyenim/Müzik üretiyorum...
        </p>

        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            "Enstrüman ve ekipman kiralamaya ihtiyaç duyuyorum." diyorsanız, ihtiyacınız olanları temin etmek için burada olacağız.
        </p>
        <p><a class="btn btn-secondary" style="background-color: #d9b54a;" href="product">GÖZAT! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
</div>
