<!-- <h5 class="title" style="color: grey; text-align: center;">Enstrüman Ekle</h5>
<div class="content">
  <div class="col-md-12">
    <div class="card" style="background-color: white;">
      <div class="card-header">
        <div class="card-body">
          <main class="form-group">
          <form [formGroup]="productAddForm">
            <div class="mb-3">
              <div class="form-group">
                <form>
                  <div class="row">
                    <div class="col">
                      <div class="form-floating">
                        <input
                          formControlName="category"
                          type="text"
                          style="background-color: #808080; border-style: none"
                          class="form-control"
                          id="floatingInput1"
                          placeholder="Kategori"
                        />
                        <label for="floatingInput"
                          ><p style="color: white">Kategori</p>
                          <hr style="color: white" width="220"
                        /></label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        <input
                          formControlName="model"
                          type="text"
                          style="background-color: #808080; border-style: none"
                          class="form-control"
                          id="floatingInput7"
                          placeholder="Model"
                        />
                        <label for="floatingInput"
                          ><p style="color: white">Model</p>
                          <hr style="color: white" width="220"
                        /></label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        <input
                          formControlName="brand"
                          type="text"
                          style="background-color: #808080; border-style: none"
                          class="form-control"
                          id="floatingInput7"
                          placeholder="Marka"
                        />
                        <label for="floatingInput"
                          ><p style="color: white">Marka</p>
                          <hr style="color: white" width="220"
                        /></label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" id="formFile">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                  </div>
                  <br>
                  <div class="row">
                  </div>
                </form>
              
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
            </form>
          </main>
      </div>
    </div>
  </div>
  </div>
</div> -->
