<div
  class="container-fluid col-md-12"
  style="
    text-align: center;
    width: fit-content;
    background-color: #25222a;
    marker-mid: initial;
  "
>
  <div class="col-md-12" style="height: 500px">
    <div
      class="card p-3 my-2"
      style="
        width: 53rem;
        height: 50rem;
        padding: 15px;
        margin: 15px;
        text-align: center;
        background-color: #25222a;
        border: currentColor;
        border-radius: 1rem;
        background-image: var(--bs-gradient);
      "
    >
      <h4 style="color: white">
        ADRES EKLE
        <hr style="color: #d9b54a" />
      </h4>
      <br />
      <main class="form-floating">
        <form [formGroup]="addressForm">
          <div class="row">
            <div class="form-floating col">
              <p style="color: white; text-align: start">Adres Başlığı</p>
              <input
                formControlName="title"
                type="text"
                style="
                  background-color: #25222a;
                  color: white;
                  border-style: none;
                "
                class="form-control"
                id="title"
                placeholder="Adres Başlığı"
              />
              <label for="floatingInput"> </label>
            </div>
            <div class="form-floating col">
              <p style="color: white; text-align: start">Şehir</p>
              <input
                formControlName="city"
                type="text"
                style="
                  background-color: #25222a;
                  color: white;
                  border-style: none;
                "
                class="form-control"
                id="city"
                placeholder="Şehir"
              />
              <label for="floatingInput"> </label>
            </div>
            <div class="form-floating col">
              <p style="color: white; text-align: start">Semt/İlçe</p>
              <input
                formControlName="state"
                type="text"
                style="
                  background-color: #25222a;
                  color: white;
                  border-style: none;
                "
                class="form-control"
                id="state"
                placeholder="Semt/İlçe"
              />
              <label for="floatingInput"></label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="form-floating col">
              <p style="color: white; text-align: start">Posta Kodu</p>
              <input
                formControlName="zipcode"
                type="text"
                style="
                  background-color: #25222a;
                  color: white;
                  border-style: none;
                "
                class="form-control"
                id="zipcode"
                placeholder="Posta Kodu"
              />
              <label for="floatingInput"></label>
            </div>
            <div class="form-floating col">
              <p style="color: white; text-align: start">Cadde</p>
              <input
                formControlName="street"
                type="text"
                style="
                  background-color: #25222a;
                  color: white;
                  border-style: none;
                "
                class="form-control"
                id="street"
                placeholder="Cadde"
              />
              <label for="floatingInput"> </label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="form-floating col">
                <p style="color: white; text-align: start">Bina Numarası</p>
                <input
                  formControlName="building_no"
                  type="text"
                  style="
                    background-color: #25222a;
                    color: white;
                    border-style: none;
                  "
                  class="form-control"
                  id="building_no"
                  placeholder="Bina Numarası"
                />
                <label for="floatingInput"> </label>
              </div>
              <div class="form-floating col">
                <p style="color: white; text-align: start">Adres Satırı</p>
                <input
                  formControlName="address_line"
                  type="text"
                  style="
                    background-color: #25222a;
                    color: white;
                    border-style: none;
                  "
                  class="form-control"
                  id="address_line"
                  placeholder="Adres Satırı"
                />
                <label for="floatingInput"> </label>
              </div>
              <div class="form-floating col">
                <p style="color: white; text-align: start">Açıklama</p>
                <input
                  formControlName="description"
                  type="text"
                  style="
                    background-color: #25222a;
                    color: white;
                    border-style: none;
                  "
                  class="form-control"
                  id="description"
                  placeholder="Açıklama"
                />
                <label for="floatingInput"> </label>
              </div>
              
          </div>
          <br />
          <div class="row" style="text-align: center;">
            <button
              class="btn btn-success"
              style="background-color: #d9b54a;"
              (click)="addAddresses()"
            >
              Ekle
            </button>
          </div>

        </form>
      </main>
    </div>
  </div>
</div>
