<header style="background-color: #25222a; text-align: center;">
  <div>
    <img
      src="../assets/logo.png"
      class="rounded mx-auto d-block"
      alt="logo"
      style="width: 302px; height: 160px"
    />
  </div>
  <div>
    <ul
      class="
        nav
        col-9 col-lg-auto
        my-2
        justify-content-center
        my-md-0
        text-small
      "
    >
      <li>
        <a href="product" class="nav-link text-white">
          <svg class="bi d-block mx-auto mb-1" width="10" height="10">
            <use xlink:href="#home" />
          </svg>
          ANASAYFA <i class="bi bi-house-fill"></i
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-house-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
            />
            <path
              fill-rule="evenodd"
              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
            />
          </svg>
        </a>
      </li>
      <li>
        <a href="about" class="nav-link text-white">
          <svg class="bi d-block mx-auto mb-1" width="10" height="10">
            <use xlink:href="#speedometer2" />
          </svg>
          HAKKIMIZDA <i class="bi bi-info-circle"></i
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-info-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
            />
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi d-block mx-auto mb-1" width="10" height="10">
            <use xlink:href="#table" />
          </svg>
          NASIL ÇALIŞIR <i class="bi bi-wrench"></i
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-wrench"
            viewBox="0 0 16 16"
          >
            <path
              d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="b-example-divider"></div>
